[Desktop Entry]
Version=1.0
Type=Application
Name=zvC9 Attach monitors on 2nd video card (version with GNU Screen's protection from terminal emulator crash)
Name[ru]=zvC9 Подключить мониторы от вторичной видеокарты (с защитой через GNU Screen от падения окна терминала)
Comment=use this if you have 2 video cards and don't see displays attached to secondary video card
Comment[ru]=используйте, если подключено 2 видеокарты и не видны мониторы, подключенные ко вторичной видеокарте
Exec=screen -S monitor2 bash -c "echo When config window appears, disable mirror mode. And if needed, turn on all displays/monitors ; echo Когда появится окно настройки, отключите зеркальный режим. И если надо, включите все мониторы ; xrandr  --setprovideroutputsource  1  0 ; sleep 5 ; xfce4-display-settings "
Icon=video-display
Path=/
Terminal=true
StartupNotify=false
